<!DOCTYPE html>
<html ng-app="validationApp">
<head>
    <title>Username Validation SPA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script>
        var app = angular.module('validationApp', ['ngRoute']);

        app.config(function($routeProvider) {
            $routeProvider
            .when('/form', {
                templateUrl: 'form.html',
                controller: 'FormController'
            })
            .otherwise({
                redirectTo: '/form'
            });
        });

        app.controller('FormController', function($scope) {
            $scope.user = {};

            $scope.validate = function() {
                const username = $scope.user.username;
                const password = $scope.user.password;

                if (!username || username.trim() === '') {
                    alert("Enter username");
                    return false;
                }

                if (username.length < 3) {
                    alert("Username is too short");
                    return false;
                }

                if (!password || password.length < 8) {
                    alert("Password must be at least 8 characters");
                    return false;
                }

                alert("Valid username and password!");
                return true;
            };
        });
    </script>
</head>
<body>
    <div ng-view></div>

    <!-- Form Template -->
    <script type="text/ng-template" id="form.html">
        <h2>User Validation Form</h2>
        <form ng-submit="validate()">
            <label for="username">Username:</label><br>
            <input type="text" ng-model="user.username" id="username"><br><br>

            <label for="password">Password:</label><br>
            <input type="password" ng-model="user.password" id="password"><br><br>

            <input type="submit" value="Validate">
        </form>
    </script>
</body>
</html>